.root {
  display: flex;
}

.contents {
  display: flex;
  flex: 1;
  max-height: 100vh;
}

.container {
  display: flex;
  overflow-x: auto;
  padding: 5px;
  width: calc(100vw - 82px);
}

.column {
  margin: 0 2.5px;
  min-width: 320px;
  min-height: calc(100% - 20px);
}
