.root {
  padding: 5px 0;
  padding-bottom: 15px;
}

.retweet {
  padding-left: 64px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;

  small {
    font-size: 70%;
  }
}

.container {
  font-size: 14px;
  display: flex;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;

  .left {
    width: 64px;
    position: relative;

    .box {
      display: inline;
      height: 52px;
      left: 0;
      position: absolute;
      top: 0;
      width: 52px;
    }

    .verified {
      bottom: -2.5px;
      right: -2.5px;
      position: absolute;

      .el-icon-fa-stack {
        font-size: 12px !important;
      }

      .layer1 {
        color: skyblue;
      }

      .layer2 {
        color: white;
      }
    }
  }

  .right {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);

    .header {
      align-items: baseline;
      display: flex;

      .name {
        flex: 1 1 auto;
        overflow: hidden;
        padding-right: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .lock {
        color: gray;
        margin-right: 5px;
      }

      .time {
        flex-shrink: 0;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      small {
        color: gray;
      }

      b + small {
        padding-left: 4px;
      }
    }

    .mention {
      color: slategrey;
      line-height: 1;
      margin-top: -2px;
      margin-bottom: 2px;

      a + a {
        margin-left: 2px;
      }
    }

    .text {
      line-height: 1.2;
    }
  }
}
