.media {
  margin-top: 5px;

  img {
    border-radius: 4px;
    object-fit: cover;
    overflow: hidden;
  }

  .media-grid-1 {
    img {
      height: 130px;
      width: 220px;
    }
  }

  .media-grid-2 {
    img {
      height: 130px;
      width: 108px;

      &:nth-child(1) {
        margin-right: 2px;
      }

      &:nth-child(2) {
        margin-left: 2px;
      }
    }
  }

  .media-grid-3 {
    display: flex;
    flex-flow: column wrap;
    max-height: 130px;

    img {
      &:nth-child(1) {
        height: 130px;
        margin-right: 2px;
        width: 108px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        height: 63px;
        margin-left: 2px;
        width: 108px;
      }

      &:nth-child(2) {
        margin-bottom: 2px;
      }

      &:nth-child(3) {
        margin-top: 2px;
      }
    }
  }

  .media-grid-4 {
    img {
      height: 64px;
      width: 108px;

      &:nth-child(1) {
        margin-right: 2px;
        margin-bottom: 1px;
      }

      &:nth-child(2) {
        margin-bottom: 1px;
        margin-left: 2px;
      }

      &:nth-child(3) {
        margin-right: 2px;
        margin-top: 1px;
      }

      &:nth-child(4) {
        margin-left: 2px;
        margin-top: 1px;
      }
    }
  }
}
